p {
  font-family: Arial;
  margin-bottom: 0;
}
.tweet-link {
  font-weight: bold;
}
.link-author {
  color: gray;
}
.title {
  width: 550px;
  margin-top: 10px;
}
.skill {
color: rgb(60, 184, 255);
}
.skills-required {
  margin-top: 20px;
}