.Get-started-button {
  background-color: rgb(121, 82, 179);
  border: none;
  color: white;
  height: 36px;
  font-weight: bold;
  width: 105px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s;
  }
  .get-started-button:hover {
  background-color: rgb(99, 60, 156)
  }
  
  .download-button {
  background-color: white;
  height: 36px;
  border-width: 0.11px;
  color: rgb(108, 117, 125);
  border-style: solid;
  font-weight: bold;
  border-color: rgb(108, 117, 125);
  border-radius: 4px;
  width: 105px;
  cursor: pointer;
  margin-left: 6px;
  transition: background-color 0.15s;
  color: 0.15s
  }
  .download-button:hover {
      background-color: rgb(108, 117, 125);
      color: white; 
  }